* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    max-width: 1280px;
    margin: auto;
    width: 100%;
    background-color: #EFEFEF;
    display: flex;    
    flex-direction: row;
}

nav .one {
    padding: 5px 18px;
    border-right: 1px solid #C8C8C8;
    text-decoration: none;
}
nav .one:hover {
    background-color: #70BF42;
    color: white;
}
nav .two {
    padding: 5px 18px;
    border-right: 1px solid #C8C8C8;
    text-decoration: none;
}
nav .two:hover {
    background-color: #C40A2A;
    color: white;
}
nav .three {
    padding: 5px 18px;
    border-right: 1px solid #C8C8C8;
    text-decoration: none;
}
nav .three:hover {
    background-color: #84154D;
    color: white;
}
nav .four {
    padding: 5px 18px;
    border-right: 1px solid #C8C8C8;
    text-decoration: none;
}
nav .four:hover {
    background-color: #1399BE;
    color: white;
}
nav .five {
    padding: 5px 18px;
    border-right: 1px solid #C8C8C8;
    text-decoration: none;
}
nav .five:hover {
    background-color: #6A0166;
    color: white;
}
nav .six {
    padding: 5px 18px;
    border-right: 1px solid #C8C8C8;
    text-decoration: none;
}
nav .six:hover {
    background-color:#000000;
    color: white;
}
nav .seven {
    padding: 5px 18px;
    text-decoration: none;
}
nav .seven:hover {
    background-color: #FF6600;
    color: white;
}
nav .eight {
    padding: 5px 18px;
    text-decoration: none;
}
nav .eight:hover {
    background-color: #C40A2A;
    color: white;
}
nav .nine {
    padding: 5px 18px;
    text-decoration: none;
}
nav .nine:hover {
    background-color: #000000;
    color: white;
}
nav .ten {
    padding: 5px 18px;
    text-decoration: none;
}
nav .ten:hover {
    background-color: #C40A2A;
    color: white;
}
